.App {
  
  text-align: center;
  background-color: lightslategrey;
}

header {
	grid-row: 1;
	grid-column: 1 / span 3;
}

.nav {
  padding: 20px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  background-color: lightslategrey;
	position: sticky;

}

.nav-link {
 
color:white !important;
text-align: center;
text-decoration: none;
}

@import "react-alice-carousel/lib/alice-carousel.css";



.cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(130px, 1fr));
  grid-gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: max-content 100px 1fr;
  object-fit: contain;

}


.img {
  object-fit: contain;
  overflow: hidden;
  position: absolute;
  width: 10%;
  height: 10%;
}

.shoes {
  text-decoration: none;
}