.App {
  
  text-align: center;
  background-color: lightslategrey;
}

header {
	grid-row: 1;
	grid-column: 1 / span 3;
}

.nav {
  display: flex;
  background-color: lightslategrey;

}

.nav-link {

color:white !important;
text-decoration: none;
}

.main{
  height: auto;
  border: 5px;
 
}
.cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(130px, 1fr));
  grid-gap: 20px;
  
}


.card {
  display: grid;
  grid-template-rows: max-content 100px 1fr;
  object-fit: contain;
 
}


.container{
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.form-add{
  
  margin: 35px;
  display: grid;
  grid-gap:10px;
 
}

.input-add{
  border-radius:5px ;
  margin-left:3px ;
}

.label-add{
 text-align:right;
 padding: 5px;
 color: white;
  
}
button{
  background-color: lightslategrey; 
  color: white;
}